.societe{     
    text-align: right;     
    margin-right: 200px;     
    font-weight: bold;     
    font-size: 1.2em; 
}
.position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{ 
    list-style-type: none;
}
h1, h2{
    text-align:start;
    margin-top: 130px;
    font-size: 2em;
} 
h2{
    margin-top: 0px;
    text-align: start;
    font-size: 1.2em;
    font-style: italic;
}
.baniere 
{
    /* j'utilise la photo comme image de fond */
    background-image: url("../Picture/Image20230513115303.png");
    /* pour redimensionner l'image afin de s'adapter à la taille de l'élément qui la contient */
    padding-right: 90px;
    padding-left: 140px;
    margin: 10px 10px 10px 10px;
    width: 40%;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
}